In [1]:
import pandas as pd
players = pd.read_csv("../datasets/players_1.csv")
matches = pd.read_csv("../datasets/matches_1.csv")
teams = pd.read_csv("../datasets/teams_1.csv")

In [2]:
matches.head()

,Match_id,Date,Time,Wk,Home_id,Away_id,ScoreHome,ScoreAway,League_name,Round
0,4df3a732,2022-09-17,12:00,2,15f49df1,4c088abe,2,0,Liga-F,NaN
1,87c755cd,2022-09-17,12:00,2,aa11fb42,89818574,1,2,Liga-F,NaN
2,abfde9d9,2022-09-17,16:00,2,c21f25d3,7a7bef84,2,0,Liga-F,NaN
3,d0329f46,2022-09-17,16:00,2,54582b93,f96ff499,2,0,Liga-F,NaN
4,f4452586,2022-09-17,18:00,2,215d9026,b56c2667,1,3,Liga-F,NaN

In [7]:
df_leagues = [""]
leagues = list(matches["League_name"].unique())

In [ ]:
for league in df_leagues:
    df_league =

In [3]:
pd.Dataframe(matches["Home_id"].unique())

SyntaxError: invalid syntax (3368096809.py, line 1)

In [11]:
serie_a = matches[matches["League_name"] == "Serie-A"]

In [15]:
teams_serie_a = serie_a["Home_id"].unique()

In [58]:
final_leagues = []
for l in leagues:
    league = matches[matches["League_name"] == l]
    league_a = []
    
    teams_in_league = league["Home_id"].unique()
    for i, team in enumerate(teams_in_league):
        
        league_a.append({"Name": team})

        df_team = league[(league["Home_id"] == team) | (league["Away_id"] == team)]
        
        for j, (index, row) in enumerate(df_team.iterrows()):
            if row["Home_id"] == team:
                if row["ScoreHome"] == row["ScoreAway"]:
                    league_a[i][str(j)] = 1
                elif row["ScoreHome"] > row["ScoreAway"]:
                    league_a[i][str(j)] = 3
                else:
                    league_a[i][str(j)] = 0
            elif row["Away_id"] == team:
                if row["ScoreHome"] == row["ScoreAway"]:
                    league_a[i][str(j)] = 1
                elif row["ScoreHome"] < row["ScoreAway"]:
                    league_a[i][str(j)] = 3
                else:
                    league_a[i][str(j)] = 0
    final_leagues.append(league_a)
    break

In [126]:
final_leagues = []
for l in leagues:
    league = matches[matches["League_name"] == l]
    league_a = []
    
    teams_in_league = league["Home_id"].unique()
    for i, team in enumerate(teams_in_league):
        
        league_a.append({"Squad_id": team})

        df_team = league[(league["Home_id"] == team) | (league["Away_id"] == team)]
        
        for j, (index, row) in enumerate(df_team.iterrows()):
            if row["Home_id"] == team:
                if row["ScoreHome"] == row["ScoreAway"]:
                    to_sum = 1
                elif row["ScoreHome"] > row["ScoreAway"]:
                    to_sum = 3
                else:
                    league_a[i][str(j)] = 0
            elif row["Away_id"] == team:
                if row["ScoreHome"] == row["ScoreAway"]:
                    to_sum = 1
                elif row["ScoreHome"] < row["ScoreAway"]:
                    to_sum = 3
                else:
                    to_sum = 0
            try:
                league_a[i][str(j)] = league_a[i][str(j-1)] + to_sum
            except:
                league_a[i][str(j)] = to_sum
                
    final_leagues.append(league_a)

In [127]:
df_final = []
for df in final_leagues:
    
    df = pd.DataFrame(df)
    df = df.dropna(axis=1)
    
    new_pos = df.copy()
    
    for i in df.columns[1:]:
        
        pt = df.sort_values(i, ascending = False)

        pt["new_col"] = 1
        pt["new_pos"] = pt["new_col"].cumsum()
        for team in df["Squad_id"].unique():
            new_pos.loc[new_pos[new_pos["Squad_id"] == team].index, i] = pt[pt["Squad_id"] == team]["new_pos"]
    df_final.append(new_pos)

In [137]:
merged_df = []
for df in df_final:
    merged_df.append(pd.merge(df, teams[["Squad_id","Squad"]], on ="Squad_id"))

In [198]:
final_json = {}
for m in merged_df:
    for t in list(m["Squad_id"].unique()):
        a = m.loc[m[m["Squad_id"] == t].index, list(m.columns)[1:-1]]
        final_json[t] = {}
        final_json[t]["points"] = a.values.flatten().tolist()
        final_json[t]["num_teams"] = len()

In [199]:
final_json

{'15f49df1': [1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 'aa11fb42': [2,
  8,
  13,
  14,
  13,
  14,
  15,
  15,
  15,
  15,
  14,
  14,
  15,
  12,
  15,
  15,
  15,
  15,
  15,
  15,
  14,
  14,
  14,
  15,
  16],
 'c21f25d3': [3,
  6,
  7,
  10,
  7,
  5,
  6,
  7,
  6,
  5,
  6,
  7,
  6,
  7,
  9,
  7,
  8,
  7,
  8,
  8,
  9,
  9,
  9,
  9,
  9],
 '54582b93': [4,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2],
 '215d9026': [5,
  9,
  9,
  6,
  4,
  7,
  8,
  8,
  8,
  10,
  10,
  11,
  11,
  13,
  10,
  11,
  11,
  10,
  7,
  7,
  7,
  7,
  7,
  7,
  8],
 'e9fecaf2': [12,
  15,
  16,
  16,
  16,
  16,
  16,
  16,
  16,
  16,
  16,
  16,
  16,
  16,
  16,
  16,
  16,
  16,
  16,
  16,
  16,
  16,
  15,
  13,
  13],
 '94929c05': [6,
  10,
  14,
  15,
  14,
  15,
  10,
  9,
  9,
  8,
  7,
  8,
  8,
  6,
  6,
  8,
  9,
  11,
  11,
  10,
  10,
  11,
  11,
  11,
  10],
 '74142337': [7,
  7,
  8,
  12,
  12,
  10,
  11,
  10,
  10,
  11,
  11,
  10,
  10,
  10,
  11,
  12,
  12,
  12,
  12,
  12,
  12,
  13,
  13,
  12,
  12],
 '89818574': [8,
  3,
  4,
  4,
  5,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  4,
  4,
  4,
  4,
  4,
  4,
  4,
  5,
  5,
  5,
  5,
  5],
 '27acb0af': [13,
  11,
  10,
  13,
  15,
  11,
  12,
  13,
  14,
  13,
  13,
  12,
  12,
  11,
  12,
  13,
  13,
  13,
  13,
  14,
  15,
  15,
  16,
  16,
  15],
 'f96ff499': [14,
  12,
  11,
  7,
  8,
  8,
  7,
  6,
  5,
  7,
  8,
  9,
  9,
  9,
  7,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  7],
 'b56c2667': [9,
  4,
  5,
  5,
  6,
  4,
  4,
  4,
  4,
  4,
  4,
  4,
  4,
  5,
  5,
  5,
  5,
  5,
  5,
  5,
  4,
  4,
  4,
  4,
  4],
 '7a7bef84': [15,
  16,
  15,
  11,
  11,
  12,
  13,
  12,
  11,
  9,
  9,
  6,
  7,
  8,
  8,
  9,
  7,
  8,
  10,
  11,
  11,
  10,
  10,
  10,
  11],
 '0f4738a8': [10,
  5,
  3,
  3,
  3,
  6,
  5,
  5,
  7,
  6,
  5,
  5,
  5,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3],
 '753b93a5': [11,
  13,
  6,
  8,
  9,
  9,
  9,
  11,
  13,
  14,
  15,
  15,
  14,
  15,
  14,
  14,
  14,
  14,
  14,
  13,
  13,
  12,
  12,
  14,
  14],
 '4c088abe': [16,
  14,
  12,
  9,
  10,
  13,
  14,
  14,
  12,
  12,
  12,
  13,
  13,
  14,
  13,
  10,
  10,
  9,
  9,
  9,
  8,
  8,
  8,
  8,
  6],
 '411b1108': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3, 3, 1, 1],
 '0bbd83f6': [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2],
 '53157aa8': [3, 3, 3, 3, 3, 3, 3, 4, 6, 6, 6, 6, 6, 6, 5, 5],
 '52d65cea': [4, 4, 4, 4, 4, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7],
 '23bce84e': [7, 10, 11, 11, 12, 12, 12, 12, 12, 12, 12, 11, 11, 11, 12, 12],
 '00f74a56': [5, 5, 5, 8, 9, 9, 9, 9, 9, 9, 8, 8, 8, 8, 8, 8],
 'fa2752bc': [8, 6, 9, 10, 10, 10, 10, 10, 11, 11, 11, 12, 12, 12, 11, 10],
 'a6a4e67d': [9, 7, 6, 5, 5, 4, 4, 3, 3, 3, 3, 2, 2, 2, 3, 3],
 'c4989550': [10, 8, 7, 6, 6, 5, 5, 5, 4, 4, 4, 4, 4, 5, 6, 6],
 'e8e4577c': [6, 9, 8, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 10, 9, 9],
 '9ce68f8a': [11, 11, 10, 9, 8, 8, 6, 6, 5, 5, 5, 5, 5, 4, 4, 4],
 '5d020380': [12, 12, 12, 12, 11, 11, 11, 11, 10, 10, 10, 10, 10, 9, 10, 11],
 '80595417': [1, 1, 1, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
 '69dee2b0': [2, 5, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 8, 8],
 'abc4f6d7': [3,
  8,
  9,
  11,
  11,
  11,
  11,
  11,
  11,
  10,
  10,
  9,
  10,
  8,
  8,
  8,
  9,
  9,
  9],
 '28d9b675': [4, 6, 5, 4, 5, 4, 5, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
 '7bbdea71': [5, 2, 2, 5, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
 'e3696882': [6, 3, 3, 1, 4, 5, 4, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6],
 '4fcc2996': [7, 7, 7, 8, 9, 9, 9, 8, 7, 7, 7, 7, 6, 6, 5, 5, 5, 5, 5],
 '68f9fd31': [9, 10, 8, 6, 7, 7, 7, 7, 9, 9, 9, 10, 8, 9, 10, 10, 10, 10, 10],
 '700c41b4': [10,
  11,
  12,
  12,
  12,
  12,
  12,
  12,
  12,
  12,
  12,
  12,
  12,
  11,
  11,
  11,
  11,
  11,
  11],
 'c57b7254': [11, 9, 10, 9, 8, 8, 8, 9, 8, 8, 8, 8, 9, 10, 9, 9, 8, 7, 7],
 '7f2012ad': [8, 4, 4, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
 'b54d31b3': [12,
  12,
  11,
  10,
  10,
  10,
  10,
  10,
  10,
  11,
  11,
  11,
  11,
  12,
  12,
  12,
  12,
  12,
  12],
 '97b7c0e8': [6, 4, 3, 2, 2, 3, 3, 3, 4, 4, 3, 4, 3, 3, 3, 3, 3],
 'a1393014': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
 '88ddc98e': [2, 7, 6, 6, 5, 7, 8, 8, 9, 9, 10, 10, 11, 11, 11, 11, 10],
 '4ed1418c': [3, 8, 8, 7, 6, 8, 6, 7, 6, 6, 6, 7, 8, 9, 10, 10, 11],
 '7adbf480': [7, 11, 12, 11, 11, 11, 11, 11, 11, 11, 11, 11, 10, 10, 8, 7, 7],
 '0580d9a9': [8, 5, 4, 5, 8, 5, 7, 6, 7, 7, 7, 9, 6, 7, 9, 9, 9],
 'c6d4860a': [4, 2, 7, 8, 9, 9, 9, 9, 8, 8, 9, 8, 9, 8, 6, 6, 6],
 '87705c62': [11, 12, 9, 9, 7, 6, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4],
 '51ec22be': [9, 6, 5, 3, 4, 4, 4, 4, 3, 2, 2, 2, 2, 2, 2, 2, 2],
 'de550500': [10,
  10,
  11,
  12,
  12,
  12,
  12,
  12,
  12,
  12,
  12,
  12,
  12,
  12,
  12,
  12,
  12],
 'becc1dd0': [12, 9, 10, 10, 10, 10, 10, 10, 10, 10, 8, 6, 7, 6, 7, 8, 8],
 'b4de690d': [5, 3, 2, 4, 3, 2, 2, 2, 2, 3, 4, 3, 5, 5, 5, 5, 5],
 '756c9acb': [8,
  9,
  9,
  9,
  9,
  7,
  8,
  8,
  8,
  9,
  9,
  8,
  7,
  7,
  7,
  7,
  7,
  8,
  8,
  8,
  8,
  7],
 '54da9a57': [1,
  6,
  5,
  3,
  2,
  5,
  4,
  5,
  5,
  5,
  4,
  4,
  3,
  3,
  3,
  3,
  3,
  2,
  3,
  3,
  4,
  3],
 '9f18ced7': [2,
  7,
  7,
  7,
  7,
  8,
  7,
  7,
  7,
  7,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  7,
  8],
 'a8e83f23': [9,
  10,
  10,
  10,
  10,
  10,
  10,
  10,
  9,
  8,
  8,
  9,
  9,
  8,
  8,
  8,
  8,
  7,
  7,
  7,
  6,
  6],
 '06d05f19': [3,
  4,
  3,
  2,
  1,
  1,
  3,
  2,
  3,
  3,
  5,
  5,
  5,
  5,
  5,
  5,
  5,
  5,
  5,
  5,
  5,
  5],
 '02f8d026': [4,
  1,
  6,
  4,
  3,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 '58e367c3': [5,
  2,
  1,
  1,
  4,
  6,
  6,
  6,
  6,
  6,
  7,
  7,
  8,
  9,
  9,
  9,
  10,
  10,
  10,
  10,
  9,
  9],
 '613577b8': [6,
  5,
  4,
  6,
  6,
  4,
  5,
  4,
  2,
  2,
  2,
  2,
  4,
  4,
  4,
  4,
  4,
  3,
  2,
  2,
  2,
  2],
 'c99ff6e5': [7,
  3,
  2,
  5,
  5,
  3,
  2,
  3,
  4,
  4,
  3,
  3,
  2,
  2,
  2,
  2,
  2,
  4,
  4,
  4,
  3,
  4],
 'f7d05cb5': [10,
  8,
  8,
  8,
  8,
  9,
  9,
  9,
  10,
  10,
  10,
  10,
  10,
  10,
  10,
  10,
  9,
  9,
  9,
  9,
  10,
  10]}

In [205]:
import json

with open("../datasets/classifications.json", "w") as outfile:
    json.dump(final_json, outfile)

In [117]:
teams.head()

,Squad_id,Squad,#Pl,Age,Poss,MP,Min,Gls,Ast,PK,...,Carries_PrgDist,Carries_Dis,Receiving_Rec,2CrdY,Fls,Fld,Off,PKcon,OG,Recov
0,aa11fb42,Alavés,22,27.0,43.5,26,2340,30,18,1,...,13585,266,5803,1,276,262,56,2,4,1352
1,e9fecaf2,Alhama,24,26.5,39.2,26,2340,20,12,1,...,8122,222,3911,3,332,235,82,3,3,1547
2,94929c05,Athletic Club,23,24.6,48.5,26,2340,28,20,2,...,15920,263,7254,0,243,224,64,4,0,1694
3,b56c2667,Atlético Madrid,22,26.2,55.1,26,2340,46,30,3,...,24412,334,9880,0,247,273,79,4,1,1546
4,15f49df1,Barcelona,28,27.1,69.4,25,2250,100,69,3,...,26950,283,13976,0,217,207,104,1,0,1611

In [95]:
pt

,Name,0,1,2,3,4,5,6,7,8,...,17,18,19,20,21,22,23,24,new_col,new_pos
0,15f49df1,3,6,9,12,15,18,21,24,27,...,54,57,60,63,66,69,72,75,1,1
1,aa11fb42,3,3,3,3,4,5,5,6,6,...,16,16,16,19,19,19,19,19,1,2
2,c21f25d3,3,4,5,6,9,12,13,14,17,...,27,28,29,30,33,33,34,35,1,3
3,54582b93,3,6,9,10,13,16,19,22,25,...,52,55,58,59,60,60,63,66,1,4
4,215d9026,3,3,4,7,10,10,11,14,14,...,26,29,32,33,36,37,40,41,1,5
6,94929c05,3,3,3,3,4,5,8,11,14,...,24,24,27,30,30,31,32,35,1,6
7,74142337,3,4,5,5,5,8,8,11,14,...,18,18,19,20,20,21,24,27,1,7
8,89818574,3,6,6,9,10,13,16,19,22,...,36,39,42,42,45,46,49,50,1,8
11,b56c2667,3,6,6,9,10,13,14,17,20,...,36,39,42,43,46,49,52,52,1,9
13,0f4738a8,3,6,9,10,11,11,14,17,17,...,44,47,50,53,56,59,59,62,1,10
14,753b93a5,3,3,6,7,8,9,10,10,10,...,18,18,19,20,21,22,22,22,1,11
5,e9fecaf2,1,1,1,1,1,1,1,1,4,...,14,15,16,16,16,19,22,23,1,12
9,27acb0af,0,3,4,4,4,7,8,8,8,...,18,18,18,18,18,18,18,21,1,13
10,f96ff499,0,3,4,7,8,9,12,15,18,...,33,36,39,42,42,42,42,42,1,14
12,7a7bef84,0,0,3,6,6,7,8,9,12,...,27,27,27,30,31,32,33,33,1,15
15,4c088abe,0,3,4,7,7,7,8,8,11,...,27,28,28,31,34,37,40,43,1,16